<h1>Listing origamis</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Artist</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @origamis.each do |origami| %>
  <tr>
    <td><%= origami.name %></td>
    <td><%= origami.artist %></td>
    <td><%= link_to 'Show', origami %></td>
    <td><%= link_to 'Edit', edit_origami_path(origami) %></td>
    <td><%= link_to 'Destroy', origami, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Origami', new_origami_path %>
