<!DOCTYPE html>
<html>
  <head>
    <title>OrigamiHub</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <body>

    <div class="topbar">

      <div class="topbar-inner">

        <div class="container-fluid">

          <a class="brand" href="#">Ankit yhpargotohp</a>

          <%= tabs %>


        </div>

      </div>

      <%= yield %>

  </body>
</html>
